#bestBottom{
    width: 100vw;
    height: 75vh;
}
#bestBottom_BottomText{
    width: 100%;
    height: 7%;
    background-color:white;
}
#bestBottom_itemContainer_flexNowrap{
    width: 100%;
    height: 93%;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
}
#bestBottom_itemContainer{
    width: 100%;
    height: 100%;
    background-color: white;
    flex-shrink: 0;
}
#bestBottomComponent_1{
    width: 50%;
    height: 50%;
}
#bestBottom_text{
    color: black;
    
}
#bestBottom_item_itemComponent{
    width: 100%;
    height: 100%;
}
#bestBottom_item_imageSize{
    width: 100%;
    height: 80%;
    background-color: red;
}
#bestBottom_item_textBoxSize{
    width: 100%;
    height: 30%;
    background-color: white;
}
#bestBottom_item_itemBrandName{
    flex: 1;
    display:flex;
    justify-content: center;
    color:black;
    font-weight :bold;  
}
#bestBottom_item_itemName{
    flex: 1;
    display:flex;
    justify-content: center;
    color: gray;
}
#bestBottom_item_itemPrice{
    flex: 1;
    display:flex;
    justify-content: center;
    color:black;
}


.flex_row{
    display: flex;
}
.flex_column{
    display:flex;
    flex-direction: column;
}
.grid_2x2{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}
.padding_1{
    padding: 5%;
}
.flex_scrollset{
    flex-shrink: 0;
}
.setTextCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}