#bestAll{
    width: 100vw;
    height: 75vh;
    border-color: white;


}
#bestAll_topText{
    width: 100%;
    height: 7%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: white;
    
    

    
}
#bestAll_itemContainer_flexNowrap{
    width: 100%;
    height: 93%;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    overflow: hidden;
    border-color: white;

}
#bestAll_itemContainer{
    width: 100%;
    height: 100%;
    background-color: white;
    flex-shrink: 0;
    border-color: white;

}
#bestAll_topComponent_1{
    width: 50%;
    height: 50%;

}
#bestAll_text{
    color: black;
    border: 0px solid white;

    
}
#bestAll_item_itemComponent{
    width: 100%;
    height: 100%;
    border-color: white;

}
#bestAll_item_imageSize{
    width: 100%;
    height: 80%;
    background-color: red;
}
#bestAll_item_textBoxSize{
    width: 100%;
    height: 30%;
    background-color: white;
}
#bestAll_item_itemBrandName{
    flex: 1;
    display:flex;
    justify-content: center;
    color:black;
    font-weight :bold;  
}
#bestAll_item_itemName{
    flex: 1;
    display:flex;
    justify-content: center;
    color: gray;
}
#bestAll_item_itemPrice{
    flex: 1;
    display:flex;
    justify-content: center;
    color:black;
}


.flex_row{
    display: flex;
}
.flex_column{
    display:flex;
    flex-direction: column;
}
.grid_2x2{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}
.padding_1{
    padding: 5%;
}
.flex_scrollset{
    flex-shrink: 0;
}
