.Text1{
    width: 100%;
    height: 50px;
    color: black;
    margin-top: 20px;
    font-weight: bold;
}
.main_Margin {
    width: 10%;   
    height: 100%;
       
}
.test1{
    width: 100%;
    color: black;
}
#miniboardTextContainer{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: aqua;
}
#miniboardImageBox{
    width: 40%;
    height: 1rem;
}
#miniboardHeaderBox{
    width: 100%;
    height: 50%;
    background-color: red;
}
#miniboardBodyBox{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    background-color: blue;
}
#miniboardNickName{
    width: 100%;
    height: 1rem;
    background-color: brown;
}
#miniboardHeart{

}
#miniboardComment{

}
