#pc_announceContainer{
    width: 100%;
    height: 10rem;
}
#pc_announceLeftBox{
    width: 10%;
    height: 100%;
    background-color: beige;
}
#pc_announceCenterBox{
    width: 90%;
    height: 100%;
}
#pc_announceRightBox{
    width: 10%;
    height: 100%;
    background-color: beige;
}
#pc_announceLeftButton{
    width: 10%;
    height: 100%;
    background-color: red;
}
#pc_announceText{
    width: 80%;
    height: 100%;
    background-color: blue;
}
#pc_announceRightButton{
    width: 10%;
    height: 100%;
    background-color: green;
}
.flexRow {
    display:flex;
}
.flexColumn{
    display:flex;
    flex-direction: column;
}
.setTextCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}