#pcHeaderContainer{
    width: 100%;
    height: 10%;
}
#pcHeaderLeftBox{
    width: 15%;
    background-color: red;
}
#pcHeaderCenterBox{
    width: 70%;
    background-color: blue
}
#pcHeaderRightBox{
    width: 15;
    background-color: green
}