#topComponent{
    width: 100vw;
    height: auto;
    
}
#topComponent_topText{
    width: 100%;
    height: 40px;
    background-color:#D9D9D9;
    color: black;
}
#topComponent_ComboBoxContainer{
    width: 100%;
    height: 2rem;
    justify-content: end;
    align-items: center;
}
#topComponent_itemContainer{
    width: 100%;
    height: auto;
    background-color: white;
}
#topComponent_item_itemComponent{
    width: 100%;
    height: 300px;
}
#topComponent_item_imageSize{
    width: 100%;
    height: 80%;
    position: relative;
    background-color: white;
}
#topComponent_item_textBoxSize{
    width: 100%;
    height: 30%;
    background-color: white;
}
#topComponent_item_itemBrandName{
    flex: 1;
    display:flex;
    justify-content: center;
    color:black;
    font-weight :bold;  
}
#topComponent_item_itemName{
    flex: 1;
    display:flex;
    justify-content: center;
    color: gray;
}
#topComponent_item_itemPrice{
    flex: 1;
    display:flex;
    justify-content: center;
    color:black;
}
#topComponent_navigateContainer{
    background-color:white;
    width: 100%;
    height: 5%;
}

.flex_row{
    display: flex;
}
.justify_content_center{
    justify-content: center;
}
.text_set_center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.flex_column{
    display:flex;
    flex-direction: column;
}
.grid_1x2{
    display: grid;
    grid-template-columns: 50% 50%;
}

.padding_1{
    padding: 5%;
}
.flex_scrollSet{
    flex-shrink: 0;
}
.width_15per{
    width: 15%;
}
.color_black{
    color: black;
}
.color_blue{
    color: blue;
}
#pc_topContainer{
    width: 100%;
    height: auto;
}
#pc_topLeftBox{
    width: 10%;
    height: 100%;
    background-color: gray;
}
#pc_topCenterBox{
    width: 90%;
    height: auto;
}
#pc_topRightBox{
    width: 10%;
    height: 100%;
    background-color: gray;
}
#pc_topCenterMarginBox{
    width: 100%;
    height: 10rem;
    color: black;
    font-size: 3rem;
}
#pc_topCenterSortBox{
    width: 100%;
    height: 10rem;
    color: black;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
}
#pc_topCenterSortItems{
    cursor: pointer;
}
#pc_topCenterSortItems:hover{
    font-size: 1.2rem;
}
#pc_topItem_itemComponent{
    width: 100%;
    height: 500px;
    border-color: white;
}
#pc_topItem_itemComponent:hover{
    padding: 0%;
}
#pc_topItem_imageSize{
    width: 100%;
    height: 80%;
    position: relative;
    cursor: pointer;
}

#pc_topItem_textBoxSize{
    width: 100%;
    height: 30%;
    background-color: white;
}
#pc_topItem_itemBrandName{
    flex: 1;
    display:flex;
    justify-content: center;
    color:black;
    font-weight :bold;
    font-size: 1rem;  
    
}
#pc_topItem_itemName{
    flex: 1;
    display:flex;
    justify-content: center;
    font-size: 1.2rem;  
    color: gray;
    cursor: pointer;
}
#pc_topItem_itemPrice{
    flex: 1;
    display:flex;
    justify-content: center;
    color:black;
    font-size: 1.2rem;  
}
#pc_topNumvberNavigateContainer{
    width: 100%;
    height: 5rem;
    
}
#pc_topNumberLeftBox{
    width: 33%;
    height: 100%;
}
#pc_topNumberCenterBox{
    width: 34%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    color: black;
}
#pc_topNumberRightBox{
    width: 33%;
    height: 100%;
}
#pc_topNumberMargin{
    width: 3rem;
}
#pc_topNumberNavigatenNumberMargin{
    width: 3rem;
    height: 100%;
    background-color: aqua;
}
.padding_3{
    padding: 10%;
}
.grid_1x4{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 25% 25% 25%;
}
.grid_2x4{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 25% 25% 25% 25%;
}
.grid_3x4{
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 25% 25% 25% 25%;
}
.grid_4x4{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
}
.grid_5x4{
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 25% 25% 25% 25%;
}