#pc_headerContainerSearchAndMain{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
#pc_headerContainer{
    width: 100%;
    height: 3rem;
    z-index: 2;
    
    background-color: white;
}
#pc_headerLeftBox{
    width: 15%;
    height: 100%;
}
#pc_headerCenterBox{
    width: 70%;
    height: 100%;
}
#pc_headerRightBox{
    width: 15%;
    height: 100%;
}
#pc_headerLogoBox{
    position: relative;
    width: 100px;
    margin: 0.5rem;
    cursor: pointer;
}
#pc_headerTopBox{
    width: 15%;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
#pc_headerTopBox:hover{
    font-size: 1.2rem;    
}
#pc_headerBottomBox{
    width: 15%;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
#pc_headerBottomBox:hover{
    font-size: 1.2rem;    
}
#pc_headerxxxBox{
    width: 70%;
}
#pc_headerSearchBox{
    width: 40px;
    margin: 0.7rem;
    cursor: pointer;
}
#pc_headerSearchBox:hover{
    width: 45px;
    
}

.flexRow {
    display:flex;
}
.flexColumn{
    display:flex;
    flex-direction: column;
}
.setTextCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}