#bestAll{
    width: 100vw;
    height: 70vh;
}
#bestAll_topText{
    width: 100%;
    height: 10%;
    background-color:white;
}
#flex_nowrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
}
#bestAll_topComponent{
    width: 100%;
    height: 100%;
    background-color: white;
    flex-shrink: 0;
}
#bestAll_topComponent_1{
    width: 50%;
    height: 50%;
}
#bestAll_text{
    color: black;
    
}
#item_itemComponent{
    width: 100%;
    height: 100%;
}
#item_imageSize{
    width: 100%;
    height: 80%;
    background-color: red;
}
#item_textBoxSize{
    width: 100%;
    height: 30%;
    background-color: white;
}
#item_itemBrandName{
    flex: 1;
    display:flex;
    justify-content: center;
    color:black;
    font-weight :bold;  
}
#item_itemName{
    flex: 1;
    display:flex;
    justify-content: center;
    color: gray;
}
#item_itemPrice{
    flex: 1;
    display:flex;
    justify-content: center;
    color:black;
}


.flex_row{
    display: flex;
}
.flex_column{
    display:flex;
    flex-direction: column;
}
.grid_2x2{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}
.padding_1{
    padding: 5%;
}
.flex_scrollset{
    flex-shrink: 0;
}
