#pc_slideContainerImageBox{
    width: 70%;
    height: 100%;
    position: relative;
    background-color: aqua;
}
#pc_slideContainerImageBoxLeftButton{
    width: 5%;
    height: 100%;
    color: black;
    font-weight: bold;
    position: absolute;
    font-size: 2rem;
    z-index: 2;
    background-color: white;
    cursor: pointer;
    
}
#pc_slideContainerImageBoxImage{
    width: 450%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    z-index: 0;
    left: 5%;
    
    
    
}
#pc_slideContainerImageBoxRightButton{
    width: 5%;
    height: 100%;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    z-index: 2;
    background-color: white;
    position: absolute;
    left: 95%;
    cursor: pointer;
    
}
#pc_slideText{
    width: 100%;
    height: 20%;
    color: black;
    font-weight: bold;
    font-size: 2.5rem;
}
#pc_slide1{
    width: 90%;
    height: 100%;
    background-color:red
}
#pc_slide2{
    width: 90%;
    height: 100%;
    background-color: blue;
}
#pc_slide3{
    width: 90%;
    height: 100%;
    background-color:green;
}
#pc_slide4{
    width: 90%;
    height: 100%;
    background-color:pink;
}
#pc_slide5{
    width: 90%;
    height: 100%;
    background-color:yellow;
}
#pc_slideNavigation{
    width: 100%;
    height: 10%;
    background-color:transparent ;
    color:black;
    position: absolute;
    top: 80%;
    left: 0%;
    display: flex;
    justify-content: center;
}
.slideNavigateLayout{
    width: 1rem;
    height: 33%;
    background-color: gray;
    border-radius: 2rem;
    margin: 2rem;
}
.slideNavigateSelectedLayout{
    width: 2rem;
}
.flexRow {
    display:flex;
}
.flexColumn{
    display:flex;
    flex-direction: column;
}
.setTextCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
