#pc_mainContainer{
    width: 100%;
    height: auto;
}
#pc_mainImageContainer{
    width: 100%;
    height: 30rem;
    background-color:white;
}
#pc_mainImagemargin{
    width: 100%;
    height: 5rem;
}
#pc_mainImage1Container{
    width: 100%;
    height: 40rem;
    position: relative;
    background-color: black;
}
#pc_mainImage1{
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.2;
}
#pc_mainImage1Text{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 25%;
    top:40%;
    color: white;
    font-size: 2rem;
}
#pc_mainImage1Box{
    width: 0%;
    height: 100%;
    background-color: white
}
#pc_mainImage2{
    width: 100%;
    height: 600px;
    position: relative;
}
#pc_mainImage2LeftBox{
    width: 15%;
    height: 100%;
}
#pc_mainImage2CenterBox{
    width: 85%;
    height: 100%;
}
#pc_mainImage3{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 4rem;
}
#pc_mainImageContainerLeftBox{
    width: 15%;
    height: 100%;
    background-color: white;
    z-index: 2;
    
}
#pc_mainImageContainerImageBox{
    width: 70%;
    height: 100%;
}
#pc_mainImageContainerRightBox{
    width: 15%;
    height: 100%;
    background-color: white;
    z-index: 2;
    
}

#pc_mainImageContainerImageBoxLeftButton{
    width: 5%;
    height: 100%;
    color: black;
    font-weight: bold;
    font-size: 2rem;
}
#pc_mainImageContainerImageBoxImage{
    width: 90%;
    height: 100%;
}
#pc_mainImageContainerImageBoxRightButton{
    width: 5%;
    height: 100%;
    color: black;
    font-weight: bold;
    font-size: 2rem;
}
#pc_mainImageText{
    width: 100%;
    height: 20%;
    color: black;
    font-weight: bold;
    font-size: 2.5rem;
}


.flexRow {
    display:flex;
}
.flexColumn{
    display:flex;
    flex-direction: column;
}
.setTextCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
