#searchResultComponent{
    width: 100vw;
    height: 75vh;
    overflow-y: scroll;
}
#searchResultComponent_topText{
    width: 100%;
    height: 7%;
    background-color:white;
    color: black;
    display: flex;
    align-items: center;
    font-size: 0.4em
}
#searchResultComponent_text{
    
}

#searchResultComponent_itemContainer{
    width: 100%;
    height: 400%;
    background-color: white;
    overflow-y: scroll;
}
#searchResultComponent_item_itemComponent{
    width: 100%;
    height: 100%;
}
#searchResultComponent_item_imageSize{
    width: 100%;
    height: 80%;
    background-color: red;
}
#searchResultComponent_item_textBoxSize{
    width: 100%;
    height: 30%;
    background-color: white;
}
#searchResultComponent_item_itemBrandName{
    flex: 1;
    display:flex;
    justify-content: center;
    color:black;
    font-weight :bold;  
}
#searchResultComponent_item_itemName{
    flex: 1;
    display:flex;
    justify-content: center;
    color: gray;
}
#searchResultComponent_item_itemPrice{
    flex: 1;
    display:flex;
    justify-content: center;
    color:black;
}
#searchResultComponent_navigateContainer{
    background-color: blue;
    width: 100%;
    height: 10%;
}

.flex_row{
    display: flex;
}
.justify_content_center{
    justify-content: center;
}
.text_set_center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.flex_column{
    display:flex;
    flex-direction: column;
}
.grid_8x2{
    display: grid;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% ;
    grid-template-columns: 50% 50%;
}
.padding_1{
    padding: 5%;
}
.flex_scrollSet{
    flex-shrink: 0;
}
.width_15per{
    width: 15%;
}