
#pc_brandContainer{
    width: 100%;
    height: auto;
}
#pc_brandLeftBox{
    width: 10%;
    height: 100%;
    background-color: gray;
}
#pc_brandCenterBox{
    width: 90%;
    height: auto;
}
#pc_brandRightBox{
    width: 10%;
    height: 100%;
    background-color: gray;
}
#pc_brandCenterMarginBox{
    width: 100%;
    height: 10rem;
    color: black;
    font-size: 3rem;
}
#pc_brandCenterSortBox{
    width: 100%;
    height: 10rem;
    color: black;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
}
#pc_brandItem_itemComponent{
    width: 100%;
    height: 500px;
    border-color: white;
}
#pc_brandItem_itemComponent:hover{
    padding: 0%;
}
#pc_brandItem_imageSize{
    width: 100%;
    height: 80%;
    position: relative;
    cursor: pointer;
}

#pc_brandItem_textBoxSize{
    width: 100%;
    height: 30%;
    background-color: white;
}
#pc_brandItem_itemBrandName{
    flex: 1;
    display:flex;
    justify-content: center;
    color:black;
    font-weight :bold;
    font-size: 1rem;  
    
}
#pc_brandItem_itemName{
    flex: 1;
    display:flex;
    justify-content: center;
    font-size: 1.2rem;  
    color: gray;
    cursor: pointer;
}
#pc_brandItem_itemPrice{
    flex: 1;
    display:flex;
    justify-content: center;
    color:black;
    font-size: 1.2rem;  
}
#pc_brandNumvberNavigateContainer{
    width: 100%;
    height: 5rem;
    
}
#pc_brandNumberLeftBox{
    width: 33%;
    height: 100%;
}
#pc_brandNumberCenterBox{
    width: 34%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    color: black;
}
#pc_brandNumberRightBox{
    width: 33%;
    height: 100%;
}
#pc_brandNumberMargin{
    width: 3rem;
}
#pc_brandNumberNavigatenNumberMargin{
    width: 3rem;
    height: 100%;
    background-color: aqua;
}
.grid_5x4{
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 25% 25% 25% 25%;
}
.padding_3{
    padding: 10%;
}
.flex_row{
    display: flex;
}
.justify_content_center{
    justify-content: center;
}
.text_set_center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.flex_column{
    display:flex;
    flex-direction: column;
}
.grid_1x2{
    display: grid;
    grid-template-columns: 50% 50%;
}
.padding_1{
    padding: 5%;
}
.flex_scrollSet{
    flex-shrink: 0;
}
.width_15per{
    width: 15%;
}
.color_black{
    color: black;
}
.color_blue{
    color: blue;
}