#header{
    width:100vw;
    height:85px;
    background-color:white;
}

#categoryBox{
    width:100vw;
    height:40px;
}
#logoBox {
    width: 33%;
    height: 100%;
    position: relative;
}
#announcement{
    width:100vw;
    height: 45px;
    background-color: gray;
}
#centerBox {
    width:30%;
    height: 100%;
}
#menuBox {
    width: 38%;
    height: 100%;
    display: flex;
}
#searchBox{
    flex: 1;
    position: relative;   
}
#shoppingBox{
    flex: 1;
    position: relative;   
}
#hambergerBox{
    flex: 1;
    position: relative;   
}
.flexRow {
    display:flex;
}
.flexColumn{
    display:flex;
    flex-direction: column;
}
.menuBoxMargin{
    margin: 7%;
}

