#header{
    width:100vw;
    height:10vh;
    background-color:white;
}

#categoryBox{
    width:100vw;
    height:5vh;
}
#logoBox {
    width: 32%;
    height: 100%;

}
#announcement{
    width:100vw;
    height: 5vh;
    background-color: gray;
}
#centerBox {
    width:30%;
    height: 100%;
    color: black;
}
#menuBox {
    width: 38%;
    height: 100%;
    display: flex;
}
#searchBox{
    flex: 1;
    position: relative;   
}
#shoppingBox{
    flex: 1;
    position: relative;   
}
#hambergerBox{
    flex:1;
    position: relative;   
}
.flexRow {
    display:flex;
}
.flexColumn{
    display:flex;
    flex-direction: column;
}
.menuBoxMargin{
    margin: 7%;
}

