#searchContainer{
    width: 100%;
    height: 100%;
    display: flex;
}
#searchBoxLeft{
    width: 8%;
    background-color: red;
}
#searchBoxCenter{
    width: 82%;
    background-color: blue;
    display: flex;
    flex-direction: column;
}
#searchBoxRight{
    width: 10%;
    background-color:green;
}
#searchBox{
    width: 100%;
    height: 5%;
    background-color: purple;
    display: flex;
}
#searchBoxIcon{
    width: 15%;
    height: 100%;
}
#searchBoxInput{
    width: 70%;
    height: 100%;
}
#searchBoxDelete{
    width: 15%;
    height: 100%;
}
#searchRecentBox{
    width: 100%;
    height: 5%;
    margin-top: 10%;
    
}