#searchContainer{
    width: 100%;
    height: 100%;
    display: flex;
}
#searchBoxLeft{
    width: 8%;
    background-color: red;
}
#searchBox{
    width: 82%;
    background-color: blue;
    display: flex;
}
#searchBoxRight{
    width: 10%;
    background-color:green;
}
#searchBoxIcon{
    width: 15%;
    height: 5%;
}
#searchBoxInput{
    width: 70%;
    height: 5%;
}
#searchBoxDelete{
    width: 15%;
    height: 5%;
}