#pc_searchResultNumverNavigateBox{
    width: 100%;
    height: 5rem;
}
#pc_searchResultNumberLeftBox{
    width: 33%;
    height: 100%;
}
#pc_searchResultNumberCenterBox{
    width: 34%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    color: black;
}
#pc_searchResultNumberRightBox{
    width: 33%;
    height: 100%;
}
#pc_searchResultNumberMargin{
    width: 3rem;
}